/*-- scss:mixins --*/
@mixin resizing-class {
  color: grey;
  font-style: italic;

  & > p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Use the mixin to create a custom class
.resizing {
  @include resizing-class;
}

@mixin option-b-class {
  color: grey;
  font-style: italic;

  & > p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Use the mixin to create a custom class
.option-b {
  @include option-b-class;
}
